language: cpp
compiler: gcc
env:
    - PROTOBUF_VERSION=2.6.0
install:
    - sudo apt-get update
    - sudo apt-get install libboost-dev
    - wget https://github.com/google/protobuf/releases/download/v$PROTOBUF_VERSION/protobuf-$PROTOBUF_VERSION.tar.gz
    - tar xf protobuf-$PROTOBUF_VERSION.tar.gz
    - ( cd protobuf-$PROTOBUF_VERSION && ./configure && make -j4 && sudo make install)
    - git clone https://github.com/google/snappy
    - ( cd snappy && sh ./autogen.sh && ./configure && make -j2 && sudo make install && sudo ldconfig )
    - sudo apt-get install zlib1g-dev
    - git clone https://github.com/cyshi/sofa-pbrpc ./thirdparty/sofa-pbrpc
    - ( cd thirdparty/sofa-pbrpc && make -j4 && make install);
    - wget https://github.com/gflags/gflags/archive/v2.1.2.tar.gz
    - tar xf v2.1.2.tar.gz
    - ( cd gflags-2.1.2 && cmake -DGFLAGS_NAMESPACE=google && make -j4 && sudo make install )
    - git clone https://github.com/baidu/common
    - ( cd common && make -j4 && make install)
    - wget --no-check-certificate https://googletest.googlecode.com/files/gtest-1.7.0.zip
    - unzip gtest-1.7.0.zip
    - ( cd gtest-1.7.0 && ./configure --disable-shared --with-pic && make -j4 && sudo cp -a lib/.libs/* /usr/lib && sudo cp -a include/gtest /usr/include )

before_script:
    - echo 'SNAPPY_PATH=./thirdparty/snappy' > depends.mk
    - echo 'PROTOBUF_PATH=./thirdparty/protobuf' >> depends.mk
    - echo 'PROTOC=protoc' >> depends.mk
    - echo 'PBRPC_PATH=./thirdparty/sofa-pbrpc/output' >> depends.mk
    - echo 'COMMON_PATH=./common/output' >> depends.mk

script: make -j4 && make test
